NODE_ENV='development'
NEXT_PUBLIC_API_URL=api-url
NEXT_PUBLIC_FIREBASE_API_KEY=firebase-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=firebase-auth-domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=firebase-project-id